name: Tests
on: [push, pull_request]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v2

            - name: Install node_modules
              run: yarn

            - name: Build
            - run: yarn build

            - name: Run tests
              run: yarn test
